
*{
	font-family: 'Open Sans', sans-serif;
	box-sizing:border-box;

	}
body{
	margin:0 auto;
	border:0;
	width:100%;
	overflow-x:hidden;
}
.raleway{
	font-family: 'Raleway', sans-serif;
}
.h1-titlez{
	font-weight:500;}
.h1-titlez b{
	font-weight:900;}
th{

}
.th{
  text-align: center;
}

td{

}
.td{
  text-align: center;
}

body{
	margin:0 auto;
	border:0;
	width:100%;
	overflow-x:hidden;
	overflow-y:scroll;
}
html, body {
    display: flow-root;
}
a {
	text-decoration:none;}
.clear{
	clear:both;}
.hover-a:hover{
	opacity:0.8;
	cursor:pointer;
	transition:.15s ease-in-out;
}
.white-text{
	color:white;}
.blue-text{
	color:#2b2b88;
		}
.blue-bg{
	background-color:#2b2b88;
}
.display-block{
	display:block;}
.border0{
	border:0;}
.transparent{
	background:none;
	background-color:transparent;}
.padding0{
	padding:0;}
.right-fav form, .right-fav span{
	display:inline-block;}
/* Article */

.orange-p {
    font-weight: 700;
    color: #ff9c31;
    font-size: 20px;
}

.red-h1 {
    font-weight: 900;
    font-size: 27px;
    padding-right: 20px;
    margin-bottom: 5px;
}
.left-contributor-div{
	padding-left:0 !important;}
.contributor-p {
    font-weight: 700;
    color: #808080;
    padding-left: 2%;
    font-size: 17px;
    margin-bottom: 0;
	font-weight:300;
}

.blue-date {
    font-weight: 300;
    color: #89bae7;
    padding-left: 20px;
    font-size: 12px;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 30px;
}
p.article-p {
    margin-top: 25px;
    margin-bottom: 25px;
   /* font-size: 18px;*/
}
.article-css-control p, .article-css-control h1, .article-css-control span, .article-css-control h2, .article-css-control h3, .article-css-control h4, .article-css-control h5, .article-css-control h6,  .article-css-control b, .article-css-control{
	/*color:#3b6a94;*/
	margin-top: 25px !important;
    margin-bottom: 25px !important;
    /*font-size: 18px !important;
	text-align: justify;
    text-align-last: center;*/
	vertical-align: middle;}
.pink-span {
    color: #eb3f79;
}

.top-article-img {
    width: 100%;
    margin-bottom: 20px;

}

p.article-p {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 15px;
}

.content-article-img {
    width: 100%;
}

.ads2 {
    width: 100%;
    margin-bottom: 4% !important;
    margin-top: 4% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.content-a {
    color: #eb3f79;
    text-decoration: underline !important;
}

.left-top-article {
    width: 30%;
    margin-left: 2%;
    float: left;
}

.right-top-article {
    float: right;
    margin-right: 3%;
}

/*End of article*/
.content2 {
    width: 75%;
    background-color: white;
    margin: 0 auto;
    padding-top: 50px;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    padding-bottom: 50px;

}

.fb-share-button {
    float: left;
}

.fb-share-a {
    text-decoration: none !important;
}

.twitter-share-button {
    text-decoration: none !important;
    color: #64e7f9 !important;
    float: left;
}

.twitter-share-button:hover {
    text-decoration: none !important;
    color: #00aced !important;
}

a.bookmark-a {
    float: left;
    margin-top: -67%;
    margin-left: 23px;
}

.left-contributor-div {
    width: 50%;
    float: left;
}

.bookmark-img {
    width: 28px;
}

.flaticon-facebook-letter-logo:before {
    font-size: 25px;
}

.flaticon-twitter-logo-silhouette:before {
    font-size: 25px;
}

.right-share-div {
    float: left;
    margin-right: 3%;
    width: 46%;
    text-align: right;
}

a.like-a {
    color: grey;
    font-size: 24px;
}

span.like-amount {
    font-size: 16px;
    margin-left: 5px;
}

a.comment-a {
    color: grey;
}

span.comment-amount {
    font-size: 16px;
    margin-left: 3%;
}

.share-a {
    color: grey !important;
    border: 0px !important;
    background-color: transparent !important;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0) !important;
    padding: 0 !important;
    margin: 0 !important;
}

a.like-a:hover {
    color: #ff3333;
}

a.comment-a:hover {
    color: #ff3333;
}

.share-a:hover {
    color: #ff3333;
}

a.like-a:active {
    color: #ff3333;
}

a.comment-a:active {
    color: #ff3333;
}

.share-a:active {
    color: #ff3333;
}

.dropdown.dropdown-share {
    width: auto;
    float: right;
    margin-top: 4px;
}

.dropdown-menu-share {
    right: 0 !important;
    left: inherit !important;
}

a.share-dropdown-a {
    width: 100%;
    clear: both;
    display: block;
}

.flaticon-printing-tool:before {

    color: white;
    background-color: grey;
    padding: 1px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 17px;
}

.flaticon-gmail-logo:before {

    color: #e67c73 !important;
    font-size: 20px !important;

}

.flaticon-pinterest:before {

    color: #cb2027 !important;
}

i.flaticon-printing-tool.print-icon:hover {

    background-color: #bf1616;
}

.flaticon-printing-tool:after {
    background-color: #bf1616;

}

a.share-dropdown-a {
    color: #3b5998 !important;
    font-weight: 700;
}

a.share-dropdown-a:hover {
    color: white !important;
    background-color: #bf1616 !important;
}

.fb2 {
    width: 100% !important;
}

.flaticon-twitter:before {

    font-size: 20px !important;
    color: #1da1f2;
}

.flaticon-google-plus-1:before {
    font-size: 20px !important;
}

.background-div {
    width: 100%;
    background-color:#fff6f6;
	overflow: hidden;
}

.table-css {
    width: 100%;
	border-collapse:collapse;
}
.table-css th {
    background-color: #eea2a4;
    color: white;
    padding: 5px 10px;
	font-weight: 800;
}
.table-css td {
    padding: 5px 10px;
	border-bottom: 1px solid #eea2a4;		
}
.ow-content-gap {
    border: 0;
    width: 100%;
}
.edit-btn {
    border: 0;
    background-color: #eea2a4;
    color: white;
    padding: 5px 20px;
    font-weight: 600;
    border-radius: 5px;
	word-break: keep-all;
}
.edit-btn:hover {
	background-color:#f18c8c;
	cursor:pointer;
	transition:.15s ease-in-out;}
.article-card{
	border:0 !important;
    -webkit-box-shadow: 0px 0px 15px 5px #85b8e626;
    box-shadow: 0px 0px 15px 5px #85b8e626;
	margin-bottom: 12px;

}
.article-bg-img-box, .overwrite-img-a {
    height: 200px;
    overflow: hidden;
}
.blog-content-div1 {
    width: 50% !important;
}	
.box2 {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
}
.peach-text{
    color: #ffae68;
}
.source-p {
    color: #b9b9b9;
    margin-bottom: 30px;
	text-align:center;
	padding-left: 10px;
    padding-right: 10px;
	margin-top:0;
}
.tevy-textarea {
    border-radius: 5px;
	min-height: 170px;
}
.one-line-textarea{
    border-radius: 5px;}
.three-line-textarea{
    border-radius: 5px;}
.recommended {
    width:75% !important;
    margin-left: 12.5% !important;
    margin-right: 0 !important;
    margin-bottom: 30px !important;
}
.refer-png {
    height: 25px;
    margin-left: 5px;
}
.step-p {
    text-align: center;
    font-size: 21px;
    font-weight: 800;
	    margin-top: 50px;
}
.step-p2 {
    font-weight: 400;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
	font-size: 14px;
}
.tutorial-div img {
    width: 70%;
    margin-left: 15%;
	border: 2px solid #3b6a94;}
.close-btn {
    width: 200px;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
}
.youtube-video-iframe {
    width: 100%;
    height: 500px;
}
.article-css-control iframe{
    width: 100%;
    height: 500px;
	margin-top: 20px;
    margin-bottom: 20px;
}
.article-css-control{ 
    width: 100%;
    overflow: hidden;
	padding: 0;
}

.article-css-control a {
  
    text-decoration: underline !important;
}
.article-css-control a:hover {
	
}
.article-css-control a span{
  
    text-decoration: underline !important;
}
.article-css-control a span:hover {
	
}
.article-css-control a span u{
   
    text-decoration: underline !important;
}
.article-css-control a span u:hover {
	
}
.article-css-control img {
	width: 70% !important;
    height: auto !important;
	margin-left:15%;
	margin-right:15%;
	clear:both;
	margin-top: 10px;
    margin-bottom: 10px;}
.article-css-control .feather-png {
    width: 20px !important;
    margin-top: 10px !important;
    margin-left: 5px !important;
	margin-right:0 !important;
	vertical-align: bottom;
    margin-bottom: 0;
}
.grey-bg-ow {
    background-color: #cccccc !important;
}
.grey-bg-ow:hover {
    background-color: #b7a7a7 !important;
}
.red-h1 {
    word-break: break-all;	
}
.overwrite-img-a{
    display: block;
    height: 250px;
    width: 30%;
    opacity: 0;
    position: absolute;
    z-index: 1;
}
.article-card {
    width: 47%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    float: left;
    margin-top: 2%;
    border: 1px solid #999999;
    min-height: 250px;
}
.article-css-control table {
    width: calc(100% - 5px) !important;
    margin-left: 2.5px !important;
    margin-right: 2.5px !important;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
	border-collapse: collapse !IMPORTANT;
}
.article-css-control div{
	margin-left:0 !important;
	margin-right:0 !important;}
.article-css-control td, th {
    padding: 3px 10px !important;
	border-collapse: collapse !important;
	vertical-align: top;
	padding-left:0 !important;
}
.border-div {
    width: 100%;
    border-top:1px solid #bc1010;
    margin-top: 50px;
}
.padding20{
	padding-left:20px;
	padding-right:20px;}
.article-img1 {
    width: 100%;
}
.small-date {
    font-size: 10px;
}
.article-title-a {
    font-weight: 900;
    margin-top: 2px;
    margin-bottom: 10px;
    font-size: 18px;
}
.text-content-div {
    height: 60px;
    overflow: hidden;
    width: 100%;
	font-size: 13px;
}
.min-height2 {
    min-height: calc(100vh - 22.5px);
}
/* End of Article */
.white-bg{
	background-color:white;}
.white-bg{
	background-color:white;}
.light-grey {
    color: #888888;}
.width100{
	width:100%;}
.overflow{
	overflow:hidden;}
.float-left{
	float:left;}
.float-right{
	float:right;}
.text-center{
	text-align:center;}
.div-center{
	margin-left:auto;
	margin-right:auto;}
.margin-auto{
	margin-left:auto;
	margin-right:auto;}
.clean:focus{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:selected{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:active{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean::selection {
	outline: none !important;
	outline-offset: 0  !important;
}
.clean2{
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.clean2:selected{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.clean2:focus{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.clean2:active{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.clean2::selection {
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.pointer:hover{
	cursor:pointer;}
.color-black{
	color:black !important;}
.color-black:hover{
	color:white !important;}
	/*
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #fafeff inset !important;
}*/

.text-overflow{
    text-overflow: ellipsis;
    white-space: nowrap;
	overflow:hidden;
}
.height100{
	min-height:100vh;}
.same-padding{
	padding-left:7.5%;
	padding-right:7.5%;}
.width50 {
    width: 50%;
}

.left-red-div {
    float: left;
    height: 100vh;
}
.login-img {
    width: 150px;
    margin-left: calc(50% - 75px);
    margin-top: 10vh;
}
.right-grey-div {
    float: right;
    padding-right: 7.5%;
    padding-left: 7.5%;
	padding-top: calc(50vh - 220px);
	min-height:100vh;
}
.grey-bg{
	background-color:#f0f1f2;
	}
.tele-h1 {
    font-weight: 900;
}
.login-p {
    font-weight: 600;
}
.tele-input {
    width: 100%;
    margin-bottom: 20px;
    background-color: #ff7d7d5c;
    border: 0;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
}
.margin-bottom {
    margin-bottom: 50px;
}
.red-btn {
    border: 0;
    background-color: #BC1010;
    color: white;
    width: 100%;
    font-size: 18px;
    padding: 8px;
    border-radius: 5px;
}
.red-btn:hover{
	background-color:#900a0a;
	transition:.25s ease-in-out;
	cursor:pointer;
}
.side-bar {
    width: 300px;

    padding-top: 30px;
    height: 100vh;
    position: fixed;
}
.logo-img {
    width: 150px;
    margin-left: 75px;
}
.sidebar-ul {
    margin-top: 30px;
	padding: 0;
	
}
.sidebar-li {
    list-style: none;
    color: white;
    padding: 8px 0;
	clear: both;
	overflow: hidden;
	padding-left: 50px;
}
.sidebar-li img {
    width: 30px;
	float:left;
}
.sidebar-li p {
    float: left;
    margin-top: 8px;
	margin-left:25px;
	font-weight: 500;
	margin-bottom: 0;
}
.sidebar-li:hover{
	color:#264a9c;
	background-color:#f0f1f2;
	transition:.25s ease-in-out;}
.hover1b{
	display:none;}
.hover1{
	transition:0.15s ease-in-out;
	cursor:pointer;}
.hover1:hover .hover1a{
	display:none;}
.hover1:hover .hover1b{
	display:inline-block;
	cursor:pointer;}
.next-to-sidebar {
    margin-left: 300px;
    width:calc(100% - 300px);
    padding-left: 50px;
    padding-right: 50px;
	overflow:hidden;
	min-height:100vh;
	background-color:#f0f1f2;
	padding-top: 50px;
}
.four-div {
    background-color: white;
    float: left;
    width: 22%;
    border-radius: 10px;
	text-align: center;
}
.left-mid-four {
    margin-left: 4%;
    margin-right: 4%;
}
.right-mid-four {
    margin-right: 4%;
}
.big-icon {
    width: 50%;
	text-align:center;
}
.white-to-pink-div {
    padding: 20px;
	background-color:white;
}

.four-div p {
    font-weight: 600;
	color: black;
}
.white-to-pink-div:hover{
	background-color:#264a9c;
	color:white;
	cursor:pointer;
	transition:.25s ease-in-out;
	text-align:center;}
.white-to-pink-div:hover p{
	color:white !important;}
.mobile-logo {
    height: 30px;
    float: left;
}

.dl-menu {
    height: 100vh;
    overflow: scroll;
}
.dl-menuwrapper{
	display:none;
	float: right;
    width: auto;
}
.dl-menuwrapper button {
    margin-top: 3px;	
}
.dl-menu {
    margin-top: 5px !important;
}
.header1{
	display:none;}
.input50-div {
    width: 48%;
    float: left;
}
.second-input50 {
    margin-left: 4%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px #ff7d7d5c inset;
  transition: background-color 5000s ease-in-out 0s;
  font-size:15px;
}
.margin-top30{
	margin-top:30px;}
.fix300-btn {
    width: 300px;
    margin-left: calc(50% - 150px);
}
.shipping-table {
    width: 100%;
	border-collapse:collapse;
    font-size: 14px;
	word-break: keep-all;
}
.shipping-table th{
	text-align:left;
	padding: 12px 2px;
	border-bottom: 1px solid grey;
	border-top: 1px solid grey;
	vertical-align: top;
}
.shipping-table td{
	border-bottom: 1px solid gainsboro;
    padding: 12px 2px;
	vertical-align: top;
}
.action-p {
    margin: 0;
    font-weight: 800;
}
.overflow-scroll-div {
    width: 100%;
    overflow: auto;
	height: 85vh;
}
.red-link{
	color:#69cbf3;
}
.red-link:hover{
	color:#4cb7d8;
	transition:.15s ease-in-out;
	cursor:pointer;}
.img-btn{
	background:none;
	border:0;
	width: 30px;}
.margin-left0{
	margin-left:0 !important;}
.black-white-link2:hover{
	color:#264a9c;
	cursor:pointer;
	transition:.15s ease-in-out;}
.back-btn2 {
    width: 25px;
}
.clean-bg{
	background-color:transparent;}
.logo-img {
    width: 120px;
    margin-left: 0;
}
.sidebar-ul {
    margin-top: 10px;}
.side-bar {
    padding-top: 10px;}
.add-status-btn {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 30px;
}
.select-style{
	border: 0;
    background-color: transparent;
    font-weight: 800;	
}	
/*Dropdown*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  border-radius: 5px;
  right: 0;
  position: absolute;
  background-color: white;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 8px 16px;
  z-index: 1;
  color:black;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-a{
	color:black;
	margin-left:5px;}
.dropdown-img{
	margin-right:10px;
	width: 10px;
	vertical-align: middle;}
/*End of Dropdown*/
.dropdown-img2{
	vertical-align: bottom;
	margin-right:10px;
	margin-left:0;
}
.dropdown-p:hover{
	color:#7ecbc8;
	transition:.15s ease-in-out;
	cursor:pointer;}
.dropdown-a:hover{
	color:white;
	transition:.15s ease-in-out;
	cursor:pointer;}
/* The Modal (background) */
.modal-css {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-css {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 0;
  width: 50%;
  border-radius: 10px;
  margin-top: calc(50vh - 220px);
  margin-bottom: 30px;
}

/* The Close Button */
.close-css {
  color: #BC1010;
  float: right;
  font-size: 42px;
  font-weight: bold;
  margin-top: -10px;
}

.close-css:hover,
.close-css:focus {
  color: #900a0a;
  text-decoration: none;
  cursor: pointer;
}
.input-p {
    margin-bottom: 5px;
}
.input-style {
    font-size: 18px;
    width: 100%;
    padding: 5px;
	margin-bottom: 10px;
}
.modal-submit {
    width: 300px;
	margin-top: 30px;
}
.search-input{
	width:47.5%;
	float:left;
	font-size:16px;
	margin-bottom:20px;}
.second-search-input{
	margin-left:5%;}
.four-input-div {
    width: 22%;
    float: left;
}
.left-four-input {
    margin-left: 4%;
    margin-right: 4%;
}
.right-four-input{
	margin-right: 4%;
}
.big-four-input-container {
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
}
.input-top-p {
    font-size: 12px;
    margin-bottom: 2px;
}
.ui-widget-header{
	color:white !important;}
.submit-btn {
    width: 48%;
    border: 0;
    float: left;
	padding:6px;
	background-color:#264a9c;
	color:white;
	border-radius:8px;
	font-size:18px;
	margin-top:28px;
}
.submit-btn:hover{
	cursor:pointer;
	transition:.15s ease-in-out;
	background-color:#163375;}
.right-submit-btn{
	margin-left:4%;}
.ui-widget-header {
    border: 1px solid #264a9c!important;
    background: #264a9c!important;}	
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #f5a1b0 !important;
    background: #f5a1b0 !important;}	
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
	    background: #264a9c !important;
		color:white !important;
	
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
	    background: #264a9c !important;
		color:white !important;
	
}	
.customer-h1{
	float:left;}
.right-data-div {
    float: right;
    font-size: 14px;
    text-align: right;
    border: 1px solid #b5b5b5;
    border-radius: 5px;
    padding: 10px;
}
.green-text{
	color:#00b178;}
.pink-text {
    color: #264a9c;
}
.no-input-style {
    background-color: transparent;
    padding-left: 0;
    font-weight: 600;
}
.eye-icon {
    width: 25px;
    float: left;
	margin-top: 9px;
}

.eye-icon:hover{
	opacity:.85;
	cursor:pointer;
	transition:.15s ease-in-out;
	}
.password-input {
    width: calc(100% - 30px);
    float: left;
	background-color: transparent;
	margin-bottom:0;
}
.password-input-div {
    background-color: #d0e2ef;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 20px;
}
.white-bg-input-ow{
	background-color:white;
	border:1px solid grey;}
.pagination-pop {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.pagination-pop-a {
    color: #264a9c;
    font-size: 14px;
    margin: 0 5px;
}
.pagination-pop-a:hover{
	cursor:pointer;
	color:#ff758c;
	transition:.15s ease-in-out;}
.three-input-div {
    width: 31%;
    float: left;
}
.left-three-input {
    margin-left: 3.5%;
    margin-right: 3.5%;
}
.total-call-b {
    color: #264a9c;
    font-weight: 700;
    font-size: 20px;
}
.call {
    height: 16px;
    margin-left: 10px;
}
.tele-btn {
    float: left;
    margin-right: 10px;
    background-color: #264a9c;
    color: white;
    border: 0;
    padding: 3px 10px;
    border-radius: 5px;
	margin-top: 10px;
}
.tele-btn:hover{
	cursor:pointer;
	transition:.15s ease-in-out;
	background-color:#163375;}
.small-image {
    width: 25px;
}
.align-left{
	margin-left:0;}
.margin-top20{
	margin-top:20px;}
.invoice-logo {
    text-align: center;
    height: 1.5cm;
    margin: 0 auto;
}
.invoice-company-name {
    text-align: center;
}
.invoice-logo-p {
    margin: 0;
}
.invoice-company-name {
    text-align: center;
    margin-top: 10px;
	margin-bottom: 5px;
}
.invoice-company-number {
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    margin-top: 0;
}
.ms-p {
    margin-bottom: 0;
    margin-top: 10px;
}
.invoice-text {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px;
}
.left-header {
    display: inline-block;
    vertical-align: top;
}
.right-header {
    display: inline-block;
    vertical-align: top;
}
.header-logo {
    width: 170px;
	margin-right:15px;
}
.header-div {
    width: 100%;
    border-bottom:1.5px solid black;
    padding-bottom: 5px;
    margin-bottom: 30px;
}
.add-p {
    margin-top: 2px;
}
.right-date-p{
	float:right;}
.margin-top5{
	margin-top:5px;}
.sign-line {
    border-bottom: 1px solid black;
    width: 150px;
    margin-top: 80px;
}
.sign-line2 {
    margin-top: 95px;
}
.left-signature, .right-line {
	display:inline-block;
}
.left-invoice-div {
    float: left;
    width: 49%;
}
.right-invoice-div {
    float: right;
    max-width: 49%;
}
.small-note {
    font-size: 11px;
    margin-bottom: 0;
    margin-top: 5px;
}
.sign-line-width{
	margin-top:5px;
	font-size:11px;
	width: 150px;
    text-align: center;}
.term-ol {
    padding-left: 15px;
}
.term-ol li {
    margin-bottom: 20px;
}
.left-sign-div {
    float: left;
    width: 50%;
}
.right-sign-div{
	float:left;
	max-width:49%;}
.next-to-sidebar3a{
	padding-bottom:0;}
.next-to-sidebar3b{
	padding-top:0;}
.date-input {
    width: 125px;
}
.blue-btn{
	background-color:#69cbf3;
	color:white;
	transition:.15s ease-in-out;
	cursor:pointer;
	border:0;
	padding:5px 10px;
	border-radius:5px;
}
.blue-btn:hover{
	background-color:#4cb7d8;	
}
.dl-menuwrapper .dl-menu.dl-menuopen{
	background-color:white;
	box-shadow: 0 13px 18px -10px rgb(0 0 0 / 35%);
	-webkit-box-shadow: 0 13px 18px -10px rgb(0 0 0 / 35%);
	-moz-box-shadow: 0 13px 18px -10px rgb(0 0 0 / 35%);
	height: calc(100vh - 64px);
    overflow: auto;}
.print-table1 td, .print-table1 {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
.text-right{
	text-align:right;}
.border-right {
    border-right: 1px solid black;
}
.top-border{
	border-top:1px solid black;}
.print-table2{
	border-collapse:collapse;
	border: 1px solid black;}
.print-table2 th {
    text-align: left;
	padding:10px 5px;
	border:1px solid black;
}
.print-table2 td{
	padding:5px;
}
.black-text{
	color:black;}
.center-div2 {
    width: 75%;
    margin: 0 auto;
}
.print-table3{
	border-collapse:collapse;}
.print-table3 td{
	padding:5px;
	border:1px solid black;}
.print-table3 th {
    text-align: left;
	padding:5px;
	border:1px solid black;}
.oz-p, .oz-form {
    display: inline-block;
}
.oz-p {
    margin: 0;
    padding: 0 5px;
}
.oz-btn {
    border: 0;
    background-color: #69cbf3;
    color: white;
	cursor:pointer;
	transition:.15s ease-in-out;
	font-size: 21px;
    border-radius: 50%;
    min-height: 24px;
    min-width: 24px;
}
.oz-btn:hover {
    background-color: #4cb7d8;
}
.min-height-p {
    min-height: 40px;
}
.textarea-min-height{
	min-height: 80px;
}
.print-table2 .padding10{
	padding-top:10px;
	padding-bottom:10px;}
.back-icon {
    width: 25px;
    margin-right: 10px;
    cursor: pointer;
}
.opacity-hover{
	transition:.15s ease-in-out;
	opacity:0.75;}
.opacity-hover:hover{
	opacity:1;}
.gp-h1 {
    font-weight: 900;
    font-size: 14px;
}
.small-padding{
	padding-left:10px;
	padding-right:10px;}
.overflow-auto{
	overflow-x:auto;}	
.width175{
	width:175px;}
.width195{
	width:195px;}
.notice-modal-content{
    width: 50%;
	text-align:center;
}
.desc-css {
    padding-top: 0 !important;
    padding-bottom: 40px !important;
    white-space: pre-wrap !important;
}

.no-border-bottom td {
    border-bottom: 0 !important;}
.with-border, .no-border-bottom .with-border{
	    border-bottom: 1px solid grey !important;
    border-top: 1px solid grey !important;}
.right-text {
    text-align: right;
}
.close-notice{
	font-weight:400;}
.ow-small-table{
	font-size:10.5px !important;
	border:1px solid black;}
.ow-small-table th, .ow-small-table td{
	padding:12px 5px;
	border: 1px solid black;}
.margin-bottom0{
	margin-bottom:0 !important;}
.margin-bottom5{
	margin-bottom:5px !important;}
.margin-bottom2{
	margin-bottom:2px !important;}
.margin-bottom30{
	margin-bottom:30px;}
.margin-top10{
	margin-top:10px;}
.margin-top20{
	margin-top:20px;}
.margin-top40{
	margin-top:40px;}
.padding-bottom50{
	padding-bottom:50px;}
.print-table{
	margin-top:25px;}
.web-view-no{
	display:none;}
::-moz-selection { background:#BC1010 !important;
color:white!important; }
::selection { background:#BC1010 !important; color:white!important; }
/*Start */
.red-bg{
	background-color:#BC1010;}
.left-top-p{
	float:left;
	margin: 0;
	font-size: 12px;}
.right-top-p{
	float:right;
	margin: 0;
	font-size: 12px;}
.phone-img, .email-img{
	width:12px;}
.top-fix-row{
	padding-top: 3px;
    padding-bottom: 1px;
}
.email-span2 {
    display: none;
	color: white;
}
.logo-img {
    width: 200px;
}
.opacity-white-bg {
    padding-top: 5px;
}
.call-a{
	color: white;}
.menu-item {
    color: black;
	font-size: 14px;
}
.menu-margin-right {
    margin-right: 12px;
	padding-top: 10px;
    display: inline-block;
}
.app-p {
    margin: 0;
    text-align: center;
}
.app-menu{
    width: 80px;
    float: right;
}
.app-png {
    width: 10px;
}
.banner-bg{
	background-image:  url(../img/banner1.jpg);
	background-size: cover;
	min-height: 450px;
}
.red-opacity-bg {
    float: right;
    width: 400px;
    background-color: #86070769;
    padding: 20px 30px;
    border-radius: 15px;
    text-align: center;
	margin-top: 50px;
}
.justify-p{
	text-align: justify;
    text-align-last: center;
}
.banner-p {
    font-size: 20px;
}
.white-button {
    background-color: white;
    color: #bc1010;
    padding: 10px 0;
    border-radius: 25px;
    font-weight: 800;
    font-size: 20px;
	transition: .15s ease-in-out;
}
.white-button:hover{
	cursor: pointer;
	background-color:#bc1010;
	color: white;
	transition: .15s ease-in-out;
}
.footer-div {
    background-color: #ed2e24;
    text-align: center;
	margin-top: -3px;
}
.footer-p {
    color: white;
    margin: 0;
    font-size: 12px;
}
.pink-bg{
	background-color: #FFE9E9;
	padding-top: 30px;
    padding-bottom: 30px;
}
.red-text{
	color: #BC1010;
}
.four-div{
	width: 22%;
	float: left;
	text-align: center;
}
.second-four-div{
	margin-left: 4%;
	margin-right: 4%;
}
.third-four-div{
	margin-right: 4%;
}
.title-h1{
	text-align: center;
    margin-bottom: 40px;}

.four-min-height {
    min-height: 44px;
}
.why-png {
    width: 30%;
}
.sakura-bg{
	background-image:  url(../img/sakura-bg.jpg);
	padding-top: 30px;
	padding-bottom: 30px;
	background-position: center;
	background-size: cover;}
.partner-png{
	float: left;
	width: 10%;
}
.sea-background{
	background-image:  url(../img/sea-bg.jpg);
	padding-top: 30px;
	background-position: bottom;
	padding-bottom: 450px;
	background-size: cover;
	background-repeat: no-repeat;
}
.partner-margin-right{
	margin-right: 5%;}
.padding-top-bottom{
	padding-top: 30px;
	padding-bottom: 30px;
}
.mid-content-p{
	margin-bottom: 40px;
}
.insta-css{
	width: 16%;
}
.insta-margin-right{
	margin-right: 0.4%;
}
.underline-link{
	text-decoration: underline;}
.red-link{
	color: #ed2e24;
    font-weight: 800;
	transition: .15s ease-in-out;
}
.red-link:hover{
	color: #d21010;
	transition: .15s ease-in-out;
}
.four-img1 {
    width: 20%;
}
.second-four-img1{
	margin-left: 6%;
	margin-right: 6%;
}
.third-four-img1{
	margin-right: 6%;
}
.app-container {
    padding-left: 12%;
	padding-right: 12%;
}
.left50 {
    width: 50%;
    float: left;
}
.download-css {
    height: 60px;
}
.mob-tempo-three-clear2{
display: none;}
.ow-no-margin{
	margin: 0 !important;
}
.hover-effect{
	cursor:pointer;
	transition:0.15s ease-in-out;}
.ta-three-div p{
	margin:0;}
.country-button {
    width: 30%;
    display: inline-block;
    margin: 10px calc(1.5% - 1px);
    padding: 10px 5px;
    background-color: white;
    border: 0;
    border-radius: 10px;
	box-shadow: 10px 10px 5px -8px rgba(188,16,16,0.11);
	-webkit-box-shadow: 10px 10px 5px -8px rgba(188,16,16,0.11);
	-moz-box-shadow: 10px 10px 5px -8px rgba(188,16,16,0.11);
}
.country-button:hover{
	background-color: #ffdada;}
.ow-sakura-height {
    min-height: calc(100vh - 14px);
}
.login-h1{
	margin-top:0;}
.font-400{
	font-weight:400 !important;}
.forgot-size{
	font-size: 14px;
}
.min-height {
    min-height: calc(100vh - 90px);
}
.gps-size, .gift-size {
    width: 20px;

}
.gift-size{
	vertical-align: middle;
}
.first-line-gps {
    margin-top: 30px;
    font-size: 27px;
    font-weight: 900;
}
.second-line {
    margin-top: 50px;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}
.second-line a {
    font-weight: 700;
}
.underline {
    text-decoration: underline;
}
.pink-link {
    color: #ff4f4f;
	transition:.15s ease-in-out;
	cursor:pointer;
}
.pink-link:hover{
	color:#ff0c0c;
}
.glider-slide {
    width: 250px !important;
    margin-right: 20px !important;
}
.product-box{
    width: 22%;
    margin-right: calc(3% - 5px);
box-shadow: 0px 0px 8px 4px rgb(0 0 0 / 3%);
-webkit-box-shadow: 0px 0px 8px 4px rgb(0 0 0 / 3%);
-moz-box-shadow: 0px 0px 8px 4px rgb(0 0 0 / 3%);
    display: inline-block;
	vertical-align: top;
	margin-bottom: 30px;
	}
.product-box:hover{
box-shadow: 0px 0px 8px 4px rgb(255 138 138 / 14%);
-webkit-box-shadow: 0px 0px 8px 4px rgb(255 138 138 / 14%);
-moz-box-shadow: 0px 0px 8px 4px rgb(255 138 138 / 14%);	
}
.product-details-div {
    padding: 5px 7px;
}
.glider-track{
	padding: 12px;
}

.square {
    position: relative !important;
}
.content {
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    overflow: hidden !important;
}
.content a, .content img {
    height: 100% !important;
    width: 100% !important;
    object-fit: contain !important;
	display:block !important;
}

.square:after {
  content: "" !important;
  display: block !important;
  padding-bottom: 100% !important;
}
.slider-product-name {
    margin-top: 0;
    margin-bottom: 0;
    color: black;
    font-weight: 700;
    font-size: 12px;
}
.slider-product-price {
    margin: 0;
    margin-top: 3px;
    color: black;
    font-weight: 400;
    font-size: 11px;
}
.article-info-table {
    width: 100%;
}
.article-info-table td {
    padding-bottom: 10px;
}
.info-img {
    width: 20px;
}
.info-td1 {
    width: 25px;
}
.red-h1 {
    margin-top: 0;
    padding-top: 10px;
}

.blog-content-div1 {
    width: 80% !important;
    margin: 0 auto;
    background-color: white;
    padding: 5px 20px;
}
.a2a_kit a {
    margin-bottom: 5px;
}
.share-h3 {
    font-size: 16px;
}
.price-desc {
    font-size: 14px;
    margin-bottom: 5px;
}
.price-pp {
    font-weight: 700;
    font-size: 21px;
    margin-top: 0;
    margin-bottom: 0;
}
.price-div{
	text-align:center;
	overflow:hidden;
	box-shadow: 0 -7px 18px -12px rgba(255,190,190,0.75);
-webkit-box-shadow: 0 -7px 18px -12px rgba(255,190,190,0.75);
-moz-box-shadow: 0 -7px 18px -12px rgba(255,190,190,0.75);}
.purchase-div {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    background-color: #bc1010;
    color: white;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 3px 0;
    border-radius: 20px;
	
}
.purchase-div:hover{
	background-color: #e02323;}
.price-div {
    text-align: center;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    background-color: white;
}
.with-price-height{
	padding-bottom:150px;}
.success-img {
    width: 150px;
}
.price-pp2{
	margin-bottom:20px;
	}
.white-table {
    width: 100%;
	font-size: 14px;
	margin-top: 30px;
    background-color: #ffffff2e;
}
.white-table th{
	text-align:left;
	font-weight: 900;
}
.white-table th, .white-table td{
	vertical-align:top;
	padding-left: 5px !important;
    padding-right: 5px !important;}
.ow-font400{
	font-weight:400 !important;}
.overflow-div {
    overflow: auto;
}
.no-background-color{
	background-color:transparent !important;}
.four-div{
	display:inline-block;
	float:none;
	vertical-align: top;
	width: calc(22% - 5px);}

.header {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    box-shadow: 0 2px 18px -5px rgb(0 0 0 / 35%);
    -webkit-box-shadow: 0 2px 18px -5px rgb(0 0 0 / 35%);
    -moz-box-shadow: -1px 2px 18px -5px rgba(0,0,0,0.35);
}
.menu-distance {
    padding-top: 65px;
}
.logo-img {
    vertical-align: -webkit-baseline-middle;
    height: 25px;
    width: auto !important;
}
.logo-img {
    height: 18px;}
.dl-menuwrapper button:after{
    background: #ed2e24;
    box-shadow: 0 10px 0 #bc1010, 0 20px 0 #ed2e24;
}	
.nft-title {
    margin-top: 0;
	width: 150px;
	float: left;
}
.weight900 {
    font-weight: 900;
}
.filter-p {
    float: right;
}
.filter-png {
    width: 20px;
}
.search-form {
    width: calc(80% - 275px);
    float: left;

    border-bottom: 1px solid #c5c5c5;
	margin: 0 10%;
	margin-top: 12px;
}
.search-input{
	border: 0;
	width:calc(100% - 25px);
	margin: 0;}
.search-png {
    width: 20px;
}
.width10x {
    width: 100%;
    padding-left: calc(3% - 5px);
}
.grey-desc {
    margin: 0;
    font-size: 11px;
    color: grey;
}
.left-cond {
    float: left;
    color: grey;
    font-size: 12px;
    width: 48.5%;
}
.right-fav {
    float: right;
    font-size: 12px;
    color: grey;
	width: 48.5%;
	text-align:right;
}
.bookmark {
    height: 14px;
}
.left-cond, .right-fav {
    margin-top: 6px;
    margin-bottom: 6px;
}
.ow-width100{
	width:100% !important;}
/* Radio Button*/


.checkbox-budget:checked + label,
.checkbox-budget:not(:checked) + label{
	position: relative;
	display: inline-block;
	padding: 5px;
	width: auto;
	font-size: 12px;
	
	margin: 0 auto;
	margin-right: 5px;
	margin-top: 10px;
	text-align: center;
	border-radius: 4px;
	overflow: hidden;
	cursor: pointer;
	
   
}
.checkbox-budget:not(:checked) + label{
	background-color: white;
	box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.15);
	 color: black;
}
.checkbox-budget:checked + label{
	background-color: #ed2e24;
	box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.15);
	color:white;
}
.checkbox-budget:not(:checked) + label:hover{
	box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.15);
	background-color:#ed2e24;
	color:white;
	
}
.checkbox-budget:checked + label::before,
.checkbox-budget:not(:checked) + label::before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	background-color: #ed2e24;
	z-index: -1;
	color:white;
}
.checkbox-budget:checked + label span,
.checkbox-budget:not(:checked) + label span{
	position: relative;
	display: block;
}
.checkbox-budget:checked + label span::before,
.checkbox-budget:not(:checked) + label span::before{
	position: absolute;
	content: attr(data-hover);
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	
    
	-webkit-transition: max-height 0.3s;
	-moz-transition: max-height 0.3s;
	transition: max-height 0.3s;
}
.checkbox-budget:not(:checked) + label span::before{
	max-height: 0;
}
.checkbox-budget:checked + label span::before{
	max-height: 100%;
}

.checkbox:checked ~ .section .container .row .col-xl-10 .checkbox-budget:not(:checked) + label{
	background-color: white;

	box-shadow: 0 1x 4px 0 rgba(0, 0, 0, 0.05);
}

.checkbox:checked ~ .section .container .row .col-12 .checkbox-booking:not(:checked) + label,
.checkbox:checked ~ .section .container .row .col-12 .checkbox-booking:checked + label{
	background-color: white;

}
.checkbox:checked ~ .section .container .row .col-12 .checkbox-booking:checked + label::after,
.checkbox:checked ~ .section .container .row .col-12 .checkbox-booking:not(:checked) + label::after{
	background-color: light;
}
.checkbox-budget {
    width: 0;
    height: 0;
    margin: 0;
}
/* End of Radio Button */
.sortby-h1{
	text-align:left;}
.filter-top-text {
    margin-bottom: 0;
    font-size: 12px;
}
.filter-option-div {
    margin-bottom: 25px;
}
.filter-price-range {
    width: 100px;
	font-size: 12px;
}
.filter-select {
    font-size: 12px;
    width: 225px;
	border: 1px solid grey;
}
.filter-modal-content {
    width: 75%;
}
.left-nft-img {
    width: 30%;
    float: left;
}
.right-nft-div {
    float: right;
    width: 65%;
	padding-left: 10%;
}
.nft-title-name {
    margin-top: 0;
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 5px;
}
.creator-p {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 13px;
    color: #b9b9b9;
}
.index-banner{
	background-image:url(../img/banner.jpg);
	background-size:cover;
	background-position: right top;
    padding-bottom: 70px;
    padding-top: 30px;}
.banner-h1 {
    margin-bottom: 10px;
}
.banner-text-width {
    width: 50%;
}

.dual-button {
    display: inline-block;
    width: 130px;
    text-align: center;
	padding: 5px 0;
    border-radius: 3px;
}
.collect-css {
    margin-right: 10px;
    color: white;
    background-color: #ffffff3b;
}
.create-css {
    color: white;
    border: 1px solid white;
}
.collect-css:hover{
	background-color:#ffffff5c;
	}
.create-css:hover{
	background-color:white;
	color:#3a2582;
}
.menu-distance-margin{
	margin-top:50px;}
.nft-png{
	display:none;}
.index-title {
    text-align: center;
    font-weight: 900;
    font-size: 27px;
}
.center-button-size {
    width: 200px;
    font-size: 14px;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 10px;
}
.same4-div {
    display: inline-block;
    width: 22%;
	text-align:center;
	vertical-align:top;
}
.same4-png {
    width: 50px;
}
.same4-title {
    font-weight: 900;
    margin-bottom: 0;
    font-size: 14px;
}
.same4-p {
    margin-top: 5px;
    font-size: 12px;
	text-align: justify;
    text-align-last: center;
}
.second-same4 {
    margin-left: calc(4% - 5px);
    margin-right: calc(4% - 5px);
}
.third-same4 {
    margin-right: calc(4% - 5px);
}
.nft-table {
    width: 100%;
}
.left-td2 {
    text-align: right;
}
.copy-id {
    margin: 0;
    width: 250px;
    text-align: right;
    margin-right: 0;
    float: right;
}
.id-input {
    display: none;
}
.cursor{
	cursor:pointer;}
@media all and (max-width: 1300px){
.banner-text-width {
    width: 70%;
}	
}
@media all and (max-width: 1000px){

.blog-content-div1 {
    width: 100% !important;
	padding-left:0;
	padding-right:0;}
.background-div{
	background-color:white;}
.red-h1 {
    font-size: 21px;}
.sortby-h1 {
    font-size: 21px;
}
.same-padding{
	padding-left:4.5%;
	padding-right:4.5%;}
}
@media all and (max-width: 900px){

.search-form {
    margin: 0 5%;
	margin-top: 12px;
	width: calc(90% - 275px);}
}
@media all and (max-width: 850px){
.user-header {
    display: none;
}

}
@media all and (max-width: 800px){

.red-h1 {
    font-size: 18px;
}
.info-img {
    width: 15px;
}
.article-info-table {
    font-size: 14px;
}
p.article-p {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 13px;
}
.article-css-control table {
    font-size: 12px;}
.price-desc {
    font-size: 11px;}
.price-pp {
    font-size: 18px;}
.purchase-div {
	font-size: 14px;}
.white-table {
	font-size:12px;}
.product-box {
    width: 31%;
    margin-right: calc(2% - 5px);
    margin-bottom: 15px;
}
.nft-title {
    margin-top: 0;
    text-align: center;
    float: none;
    font-size: 21px;
    margin-bottom: 0;
	width:100%;
}
.filter-p span {
    display: none;
}
.search-form {
    margin-top: 12px;
    width: calc(100% - 35px);
    margin-left: 0;
    margin-right: 0;
}
.filter-modal-content {
    width: 90%;
}
.banner-h1 {
    font-size: 21px;
}
.banner-p1 {
    font-size: 13px;
}
.dual-button{
	font-size:14px;
	}
.index-banner{
	padding-bottom: 50px;
    padding-top: 20px;
}
.index4 .product-box {
    width: 23%;}
.index-title {
    font-size: 21px;
}
.same4-png {
    width: 30px;
}
}
@media all and (max-width: 700px){
.same4-div {
	margin-left:0;
	margin-right:0;
	margin-bottom:15px;
    width: 47%;}
.second-same4 {
    margin-left: calc(6% - 5px);
}
.third-same4{
    margin-right: calc(6% - 5px);	
}
}
@media all and (max-width: 600px){

.logo-img {
    width: 120px;
}
.menu-item {
    color: black;
    font-size: 10px;
}
.app-png {
    width: 6px;
}
.app-menu {
	width: auto;}
.menu-item {
    padding-top: 12px;
}

.input-top-text {
    font-size: 12px;
}
.slider-product-name {
    font-size: 10px;
}
.grey-desc {
    font-size: 9.5px;}
.left-cond, .right-fav {
	width:49%;
    font-size: 9.5px;
}
.bookmark {
    height: 11px;
}
.product-box {
    width: 48%;
    margin-right: calc(2% - 5px);
}
.index-banner {
    background-image: url(../img/background2.jpg);}
.banner-text-width {
    width: 100%;
    text-align: center;
}
.index-banner{
	padding-top:0;
	padding-bottom: 20px;}
.nft-png {
    display: block;
    width: 100px;
    margin-top: 30px;
	margin-left: auto;
    margin-right: auto;}
.index4 .product-box {
    width: 48%;}
}

@media all and (max-width: 500px){
.h1-title {
    font-size: 21px;
}	

.white-table {
    font-size: 10px;
}

}
@media all and (max-width: 470px){

.menu-item{
	display:none;}
.dl-menuwrapper{
	display:block;}
}


@media all and (max-width: 450px){
.product-box {
    width: 100%;
    margin-right: 0;
}
.width10x {
    padding-left: 20px;
    padding-right: 20px;
}
.filter-select {
    width: 100%;
}
.filter-price-range {
    width: calc(50% - 12px);}
.dual-button {
    margin-left: 0;
    display: block;
    width: 100%;
    margin-bottom: 15px;}
.index4{
	width:100%;}
.index4 .product-box {
    width: 100%;
    margin-right: 0;
}
.same4-div {
	margin-left:0;
	margin-right:0;
    width: 100%;}
.same4-p{
	text-align:center;}
}
@media print {
.web-view-no{
	display:block;}
.no-print{
	display:none !important;}
.next-to-sidebar{
	background-color:white !important;}	

.same-padding{
	padding-left:0.5cm;
	padding-right:0.5cm;}
.next-to-sidebar3{
	padding-top:0.25cm;
	padding-bottom:0.25cm;
	}
*{
	font-family:arial !important;}
.page1-div{
	height:26.3cm;
	background-color:white !important;}
.side-bar{
	display:none;}
.invoice-company-number{
	font-size:10px;}
.invoice-company-number2{
	font-size:9.5px;}
.header-logo{
	width:135px;}
.ms-p, .print-table, .time-table, .term-ol li{
	font-size:12.5px;}
.small-note{
	font-size:10px;}
.left-sign-div .sign-line, .right-sign-div .sign-line{
	margin-top:50px;}
.margin-top40 {
    margin-top: 20px;
}
.ow-small-table{
	font-size:9.5px !important;}
}

